<li><a href="{{ "/about" | prepend:site.baseurl }}">
    <i class="fa fa-user"></i> About</a></li>
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"
        href="#"><i class="fa fa-pencil"></i> Blog <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="{{ "/blog" | prepend:site.baseurl }}">Recent</a></li>
        <li><a href="{{ "/archive" | prepend:site.baseurl }}">Archive</a></li>
    </ul>
</li>
